<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611821986730-8s8m56s7cf2532q3q8t9o3oh8ik7fsr0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611821986730-8s8m56s7cf2532q3q8t9o3oh8ik7fsr0</string>
	<key>API_KEY</key>
	<string>AIzaSyA_586jTtnhN51c-9dYVqWETtp1cqB4uv8</string>
	<key>GCM_SENDER_ID</key>
	<string>611821986730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uzohOkwara.Nurture</string>
	<key>PROJECT_ID</key>
	<string>nurture-1245c</string>
	<key>STORAGE_BUCKET</key>
	<string>nurture-1245c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611821986730:ios:666494cbbbec78032a81d3</string>
</dict>
</plist>